doctype html
html    
    head
        title this is second page
    body
        h1 welcome to the pug template
        p. 
            this is the multiline paragraph
            this is it's second line

        ul
            li one
            li two
            li three
            